body{
    font-size: 20px;
    background-color: #202124;
    color: aliceblue;
}
img{
    width: 30px;
    /* height: 30px; */
}
.container{
    transform: scale(.8);
    width: 80%;
    margin: auto;
}

.header{
    margin-top: 20px;
}


.first,.second,.third{
  width: 32%;
  display: inline-block;
  text-align: center;z
}
/* .first{
    text-align: left;
}
.second{
    text-align: center;
}
.third{
    text-align: right;
} */
